*/2 * * * * JAVA_HOME=/usr/local/openjdk-11 PYSPARK_PYTHON=/usr/local/bin/python3 BACKEND_STORE_URI=sqlite:////mlruns/mlflow.db ARTIFACT_ROOT=file:///mlruns MLFLOW_TRACKING_URI=http://localhost:5000 /usr/local/bin/python3 /app/training/model_dataset1.py >> /var/log/cron.log 2>&1 
